{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block popover-content %}
    {% load staticfiles %}
    <div class="container">
    <div class="row">
        <div class="clearfix col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1>BBLIKE博客平台</h1>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;本平台是一个专注于Python的学习交流平台，分享最新的Python
                        技术，Python基础教学以及学习交流。

                    </p>
                    <p class="text-center">
                        <img src="/static/images/py.png" class="img-rounded">
                    </p>
                    <div class="panel-footer">
                        <h4>python学习者的免费平台</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

<div id="myCarousel" class="carousel slide">

	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active">
			<img src="/static/images/zzb.png" alt="First slide" width="800">
		</div>
		<div class="item">
			<img src="/static/images/zzb.png" alt="Second slide" width="800">
		</div>
		<div class="item">
			<img src="/static/images/zzb.png" alt="Third slide" width="800">
		</div>
	</div>

	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
    </div>
        <div class="col-md-6">
            <video width="600" height="500" controls="controls">
{#            <source href="https://youtu.be/jgS7nQUa3Wo" type="video/ogg">#}
                <source src="/static/vedio/1.mp4" type="video/mp4">
             Your browser does not support the video tag.
            </video>
        </div>

        <hr>
        <div class="clearfix col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h1>
                            BBLIKE平台
                            <small>一个专注于Python教学的平台</small>
                        </h1>
                    </div>
                    <h3>引言</h3>
                    <p class="lead">
                         &nbsp;&nbsp;&nbsp;&nbsp;计算机科学是一个极其宽泛的学科。全球的分布式系统、人工智能、机器人、图形、安全、科学计算，计算机体系结构和许多新兴的二级领域，每年都会由于新技术和新发现而扩展。
                        计算机科学的快速发展广泛影响了人类生活。商业、通信、科学、艺术、休闲和政治都被计算机领域彻底改造。
                        计算机科学的巨大生产力可能只是因为它构建在一系列优雅且强大的基础概念上。所有计算都以表达信息、指定处理它所需的逻辑、以及设计管理逻辑复杂性的抽象作为开始。
                        对这些基础的掌握需要我们精确理解计算机如何解释程序以及执行计算过程。
                        这些基础概念在伯克利长期教授，使用由Harold Abelson、Gerald Jay Sussman和Julie Sussman创作的经典教科书《计算机科学的构造与解释》（SICP）。这个讲义大量借鉴了这本书，原作者慷慨地使它可用于改编和复用。
                        我们的智力之旅一旦出发就不能回头了，我们也永远都不应该对此有所期待。
                    </p>
                    <blockquote>
                        <p>语言并不是你学到的东西，而是你参与的东西。</p>
                        <footer>
                            Arika Okrent
                        </footer>
                    </blockquote>
                    <p class="lead">
                        为了定义计算过程，我们需要一种编程语言，最好是一种许多人和大量计算机都能懂的语言。
                        这门课中，我们将会使用Python语言。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;Python是一种广泛使用的编程语言，并且在许多职业中都有它的爱好者：Web程序员、游戏工程师、科学家、学者，
                        甚至新编程语言的设计师。当你学习Python时，你就加入到了一个数百万人的开发者社群。开发者社群是一个极其重要的组织：成员可以互相帮助来解决问题，
                        分享他们的代码和经验，以及一起开发软件和工具。投入的成员经常由于他们的贡献而出名，并且收到广泛的尊重。也许有一天你会被提名为Python开发者精英。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;Python语言自身就是一个大型志愿者社群的产物，并且为其贡献者的多元化而自豪。
                        这种语言在20世纪80年代末由Guido van Rossum设计并首次实现。他的Python3教程的第一章解释了为什么Python在当今众多语言之中如此流行。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;Python适用于作为教学语言，因为纵观它的历史，Python的开发者强调了Python代码对人类的解释性，并在Python之禅中美观、简约和可读的原则下进一步加强。
                        Python尤其适用于课堂，因为它宽泛的特性支持大量的不同编程风格，我们将要探索它们。在Python中编程没有单一的解法，但是有一些习俗在开发者社群之间流传，
                        它们可以使现有程序的阅读、理解，以及扩展变得容易。所以，Python的灵活性和易学性的组合可以让学生们探索许多编程范式，之后将它们新学到的知识用于数千个正在开发的项目中。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;这些讲义通过使用抽象设计的技巧和严谨的计算模型，来快速介绍Python的特性。此外，这些讲义提供了Python编程的实践简介，包含一些高级语言特性和展示示例。
                        通过这门课，学习Python将会变成自然而然的事情。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;然而，Python是一门生态丰富的语言，带有大量特性和用法。我们讲到基本的计算机科学概念时，会刻意慢慢地介绍他们。对于有经验的学生，他们打算一口气学完语言的所有细节，
                        我们推荐他们阅读Mark Pilgrim的书Dive Into Python 3，它在网上可以免费阅读。这本书的主题跟这门课极其不同，但是这本书包含了许多关于使用Python的宝贵的实用信息。
                        事先告知：不像这些讲义，Dive Into Python 3需要一些编程经验。
                    </p>
                    <p class="lead">
                        &nbsp;&nbsp;&nbsp;&nbsp;开始在Python中编程的最佳方法就是直接和解释器交互。这一章会描述如何安装Python3，使用解释器开始交互式会话，以及开始编程。
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}